<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://startuploginvestigationapp20220301133501.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/714b6662-8bd3-4959-8b6f-4698e6f02d33/resourcegroups/InProcStartupWithError/providers/Microsoft.Web/sites/StartupLogInvestigationApp20220301133501</ResourceId>
    <UserName>$StartupLogInvestigationApp20220301133501</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://startuploginvestigationapp20220301133501.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>